package user

import (
    "github.com/serin0837/go-templ/model"
    "github.com/serin0837/go-templ/view/layout"
     "github.com/serin0837/go-templ/view/components"
    )

templ Show(user model.User) {
    @layout.Base(){

          <h1> hello {user.Email} user in here</h1>
          @components.Input("email", "email")
    }
  
}